<div class="container">
	<section  style="background-image:url('/img/mini-profile-bg-02.jpg');">
		<div class="jumbotron">
			<h1 class="h1 text-center text-white">Editar Documento</h1>
			<hr class="my-4">
			<div class="container">
				<div class="row row-cols-4">
					<a class="btn btn-outline-primary col-6 mx-auto btn-lg" href="/documentos" role="button">Voltar para documentos</a>
				</div>	
			</div>
		</div>
	</section>
	
	<form action="/admin/documentos/update" method="post" enctype='multipart/form-data'>
		<main role="main" class="accordion" id="accordionExample">
			<div class="shadow-none p-3 mb-5 bg-white rounded card mx-auto col-md-10 mt-4"id="headingOne">
				{{#if success_msg}} <div class="alert alert-success center" role="alert">
					{{success_msg}}
				</div>{{/if}}
				{{#if error_msg}}<div class="alert alert-danger center" role="alert">
					{{error_msg}}
				</div>{{/if}}
				<i class="required">Campos obrigatórios</i>
				<hr>
				<input type="hidden" name="id" value="{{document.id}}">

				<div class="col-12">
					<div class="row">
						<div class="col-md-12">
							<label class="col-12" for="title">
								Título do Documento <i class="required"></i>
								{{#each errors }}
								<span class="message-text error-text" id="title_error">
									{{#each this }} {{#if (equals @key 'title')}} {{this}} {{/if}} {{/each}}
								</span>
								{{/each}}
							</label>
							<input type="text" class="form-control" id="title" name="title" placeholder="Digite um título que identifique este documento" value="{{title}}{{ document.title}}" required="">
						</div>
						<div class="col-md-12" >
							<label class="col-12" for="description">
								Descrição
								{{#each errors}}
								<span class="message-text error-text" id="description_error">
									{{#each this }} {{#if (equals @key 'description')}} {{this}} {{/if}} {{/each}}
								</span>
								{{/each}}
							</label>
							<textarea type="text" class="form-control" id="description" name="description" value="" rows="10" placeholder="Aqui você pode fazer uma breve descrição sobre este documento">{{description}}{{document.description}}</textarea>
						</div>
					</div>
					<hr>
					<div class="row">
						<label class="col-12" for="school_class">
							Turma
							{{#each errors }}
							<span class="message-text error-text" id="school_class_error">
								{{#each this }} {{#if (equals @key 'school_class')}} {{this}} {{/if}} {{/each}}
							</span>
							{{/each}}
						</label>
						<div id="fieldSchoolClass" class="col-11">
							<select class="form-select" id="school_class" name="school_class" aria-label="Default select example">

								{{#if document.schoolClass}}
								<option value="{{document.schoolClass.id}}">{{document.schoolClass.name}}</option>
								{{else}}
								{{#if school_class}}
								<option value="{{id}}">{{name}}</option>
								{{else}}
								<option value="" selected="">Selecione somente se este documento é referente a uma turma específica</option>
								{{/if}}
								{{/if}}

								{{#each schoolClasses}}

								<option value="{{id}}">{{name}}</option>

								{{/each}}


							</select> 
						</div>

						<div class="col-1">
							<i class="fas fa-plus-circle text-primary link-pointer" style="font-size: 36px;" onclick="changeFieldSchoolClass(this);"></i>
						</div>
						
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6">
							<div class="col-12 row">
								<label class="col-10" for="type">
									Tipo de Documento
									{{#each errors }}
									<span class="message-text error-text" id="type_error">
										{{#each this }} {{#if (equals @key 'type')}} {{this}} {{/if}} {{/each}}
									</span>
									{{/each}}
								</label>
								<div id="fieldTypeDoc" class="col-10">
									<select class="form-select col-10" id="type" name="type" aria-label="Default select example">
										{{#if document.type}}
										<option value="{{document.type}}">{{document.type}}</option>
										{{else}}
										{{#if type}}
										<option value="{{type}}">{{type}}</option>
										{{else}}
										<option>Qual o tipo do documento</option>
										{{/if}}
										{{/if}}
										{{#each typeDocuments}} 
										<option value="{{type}}">{{type}}</option>
										{{/each}}

									</select>
								</div>
								<div class="col-1">
									<i class="fas fa-plus-circle text-primary link-pointer" style="font-size: 36px;" onclick="changeFieldTypeDoc(this);"></i>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label class="col-12" for="state">
								Status
								{{#each errors }}
								<span class="message-text error-text" id="state_error">
									{{#each this }} {{#if (equals @key 'state')}} {{this}} {{/if}} {{/each}}
								</span>
								{{/each}}
							</label>
							<select class="form-select" id="state" name="state" aria-label="Default select example">
								{{#if document.state}}
								<option value="{{document.state}}">{{document.state}}</option>
								{{else}}
								{{#if state}}
								<option value="{{state}}">{{state}}</option>
								{{else}}
								<option value="">Selecione o status deste documento</option>
								{{/if}}
								{{/if}}
								<option value="Ativo">Ativo</option>
								<option value="Inativo">Inativo</option>
								<option value="Cancelado">Cancelado</option>
							</select required="">
						</div>
					</div>
					<br>
					<hr>
					<br>
					<label class="col-12" for="file">
						Anexar Documento <i class="fas fa-file-pdf" style="font-size: 24px;"></i>
						{{#each errors}}
						<span class="message-text error-text" id="file_error">
							{{#each this }} {{#if (equals @key 'file')}} {{this}} {{/if}} {{/each}}
						</span>
						{{/each}}
					</label>
					<div class="input-group">
						<input type="file" class="form-control" id="file" name="file" value="{{file}}">
					</div>
					<hr class="md-4">
					<div class="row">
						<div class="col-md-20 mb-1 center">
							<button class="btn btn-primary col-6 btn-lg">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</main>
	</form>

</div>
