	<div id="fundamentals_image_parallax_window" class="parallax-window" data-parallax="scroll" data-image-src={{#if contentTexts.fundamentals_image_parallax_window.url }}{{contentTexts.fundamentals_image_parallax_window.url}}{{else}}"/img/mini-profile-bg-01.jpg"{{/if}} style="width:2000px;">
		{{#if (adminPermission)}}
			<div class=" editable color0 editable_image" title="Clique Para Editar" onclick="editContent(this, 'fundamentals_image_parallax_window', 'image');">Editar Imagem</div>
		{{/if}}
		<div class="container">
			<div class="row">
				<div class="col-12">
					<br><br>
					<div class="tm-contact-items-container col-12">
						<div class="tm-contact-item">
							<i class="fas fa-5x fa-briefcase tm-contact-item-icon"></i>
							<p class="mb-0">
								<span id="fundaments_course_card1" class="editable color0" title="Clique Para Editar" {{#if (adminPermission)}}onclick="editContent(this, 'fundaments_course_card1', 'textarea');"{{/if}}>{{#if contentTexts.fundaments_course_card1 }}{{decodeURIComponent contentTexts.fundaments_course_card1}}{{else}}A linguagem de programação é um método padronizado, formado por um conjunto de regras sintáticas e semânticas, de implementação de um código fonte - que pode ser compilado e transformado em um programa de computador, ou usado como script interpretado - que informará instruções de processamento ao computador.{{/if}}</span>
							</p>
						</div>
						<div class="tm-contact-item">
							<i class="fas fa-5x fa-building tm-contact-item-icon"></i>
							<p class="mb-0">
								<span id="fundaments_course_card2" class="editable color1" title="Clique Para Editar" {{#if (adminPermission)}}onclick="editContent(this, 'fundaments_course_card2', 'textarea');"{{/if}}>{{#if contentTexts.fundaments_course_card2 }}{{decodeURIComponent contentTexts.fundaments_course_card2}}{{else}}As organizações contemporâneas têm na tecnologia da informação um elemento estratégico, na medida em que as soluções tecnológicas automatizam processos organizacionais e são fonte de vantagens competitivas através da análise de cenários, apoio ao processo decisório e definição e implementação de novas estratégias organizacionais. Assim, cresce a preocupação com a coleta, armazenamento, processamento e transmissão da informação à medida que a disponibilidade da informação certa, no momento certo, para o tomador de decisão certo, é requisito fundamental para a melhoria contínua da qualidade e competitividade organizacionais, o que implica em considerar a crescente relevância dos Sistemas de informação baseados em computador.{{/if}}</span>
							</p>
						</div>

						<div class="tm-contact-item">
							<i class="fas fa-5x fa-balance-scale tm-contact-item-icon"></i>
							<p class="mb-0">
								<span id="fundaments_course_card3" class="editable color3" title="Clique Para Editar" {{#if (adminPermission)}}onclick="editContent(this, 'fundaments_course_card3', 'textarea');"{{/if}}>{{#if contentTexts.fundaments_course_card3 }}{{decodeURIComponent contentTexts.fundaments_course_card3}}{{else}}Entre em contato com os responsáveis pelo gerenciamento das atividades do Centro Acadêmico.{{/if}}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
