<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Third navbar example">
    <a class="navbar-brand" href="/"><img style="width: 100px;" src="/img/logo.png" /></a>
    <div id="li_search_two"  class="field-search " style="list-style:none;">
        <a >
          <div class="input-group mx-auto">
            <input class="form-control py-1 input-search" type="search" placeholder="Pesquisar..." id="search_all_two" name="search_all" value="{{search}}">
            <span class="input-group-append">
              <button class="btn btn-outline-primary rounded-right btn-search" type="button" onclick="search();">
                <i class="fas fa-search"></i>
              </button>
            </span>
          </div>
      </a>
      </div>
      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item active">
          <a class="nav-link " aria-current="page" href="/eventos">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/projetos">Projetos</a>
        </li>
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Documentos</a>
         <ul class="dropdown-menu" aria-labelledby="dropdown03">
          <li><a class="dropdown-item" href="/documentos">Todos os documentos</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="/documentos/ppc">PPC</a></li>
          <li><a class="dropdown-item" href="/documentos/regulamento">Regulamentos</a></li>
          <li><a class="dropdown-item" href="/documentos/ata">Atas das Reuniões</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/curso">Curso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/centro-academico/descricao">Centro Acadêmico</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li id="li_search" class="field-search">
        <a >
          <div class="input-group mx-auto">
            <input class="form-control py-1 input-search" type="search" placeholder="Pesquisar..." id="search_all" name="search_all" value="{{search}}">
            <span class="input-group-append">
              <button class="btn btn-outline-primary rounded-right btn-search" type="button" onclick="search();">
                <i class="fas fa-search"></i>
              </button>
            </span>
          </div>
      </a>
      </li>
    {{#if user}}
      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><span id='nameUser_menu'>{{user.name}}</span> <img id='imageUser_menu' src="/img/default-user.png" ></a>
        <ul class="dropdown-menu" aria-labelledby="dropdown03">
          <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
          <form action="/logout" method="POST">
            <li><a class="dropdown-item" href="#"><button class="btn-logout" type="submit">Sair</button></a></li>
          </form>
          {{#if (moderatorPermission)}}
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="#">Você tem permissões de {{#each user.roles}} <br>*{{name}} {{/each}}</a></li>
          {{/if}}
        </ul> 
      </li>
    {{else}}
      <li hidden="hidden"><a class="dropdown-item menu-buttons login" href="/login">LOGIN</a></li>
      <li  hidden="hidden"><a class="dropdown-item menu-buttons register" href="/cadastro">CADASTRO</a></li>
    {{/if}}
    </ul>
    

  </div>

</nav>


<div class="container">
  
  {{#if (moderatorPermission)}}
  
  <a href="/admin/eventos/novo" class=" col-sm-4"><button class="btn btn-primary">Cadastrar Evento</button></a>
  <a href="/admin/projetos/novo" class=" col-sm-4"><button class="btn btn-success">Cadastrar Projeto</button></a>
  <a href="/admin/documentos/novo" class=" col-sm-4"><button class="btn btn-info">Cadastrar Documento</button></a>
  <hr>
  {{/if}}

</div>
</div>