
<div class="container">
	<h2 class="title col-sm-12">
		<div class="row">
		<div class="col-sm float-sm-left">
			Membros do Centro Acadêmico 
		</div>
		</div>
		<hr>
		
	</h2>
  <h4 class="center">Aterar dados dos Membros</h4>
  {{#if error}}
  		<div class="alert alert-danger center">
    		{{error}}
  		</div>
  	{{/if}}
   <br>
		<form action="/admin/academic-center/members/update" method="post">
			<main role="main" class="accordion card my-4" id="accordionExample">
				<div class="shadow-none p-3 mb-5 bg-light rounded mx-auto col-md-10 card-body" id="accordion">
					<div class="col-12">
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="president">Presidente</label>
								<input type="text" class="form-control bg-white" id="president" name="president" value="{{members.president}}">
							</div>
							<div class="col-md-6 mb-3">
								<label for="vice_president">Vice Presidente</label>
								<input type="text" class="form-control bg-white" id="vice_president" name="vice_president"  value="{{members.vice_president}}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="secretary">Secretario</label>
								<input type="text" class="form-control bg-white" id="secretary" name="secretary" value="{{members.secretary}}">
							</div>
							<div class="col-md-6 mb-3">
								<label for="treasurer">Tesoureiro</label>
								<input type="text" class="form-control bg-white" id="treasurer" name="treasurer" value="{{members.treasurer}}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="communication_coordinator">Coordenador De Comunicação</label>
								<input type="text" class="form-control bg-white" id="communication_coordinator" name="communication_coordinator" value="{{members.communication_coordinator}}">
							</div>
							<div class="col-md-6 mb-3">
								<label for="events_coordinator">Coordenador De Eventos</label>
								<input type="text" class="form-control bg-white" id="events_coordinator" name="events_coordinator" value="{{members.events_coordinator}}">
							</div>
						</div>
						<hr class="my-4">
						<div class="col-12">
							<button type="submit" class="col-12 btn-lg btn-primary">Salvar Alterações</button>
						</div>
					</div>
				</div>
			</main>
		</form>
	</div>
	