<div class="container">
  <h2 class="title col-sm-12">
    <div class="row">
      <div class="col-sm float-sm-left">
        Projetos
      </div>
    </div>
    <hr>
  </h2>
  <h4 class="center">O Centro Academico Precisa armazenar seus projetos em lugares que possam divulgar e fortalecer o IFNMG - Campus Arinos</h4>
  <br>

  {{#if error}}
  <div class="alert alert-danger center">
    {{error}}
  </div>
  {{/if}}
  {{#if success_msg}} <div class="alert alert-success center" role="alert">
    {{success_msg}}
  </div>{{/if}}

  <div class="row">
    {{#each projects.data}}


    <div class="col-sm-12 mb-4">
      <div class=" card center">
        <div class="card-body bg-light ">
          <div class="card-header">
            {{title}}
            <span class="state 
          {{#if (equals state 'Ativo')}}state-active{{/if}} 
          {{#if (equals state 'Cancelado')}}state-cancel{{/if}}
          {{#if (equals state 'Inativo')}}state-inactive{{/if}}
          {{#if (equals state 'Não Iniciado')}}state-not-init{{/if}}
          {{#if (equals state 'Em Andamento')}}state-in-progress{{/if}}
          {{#if (equals state 'Concluído')}}state-finished{{/if}}
          ">{{state}} </span>
          </div>
          <div class="card-body text-success">
            <p class="card-text">{{trimString description 150}}...</p>
          </div>

          {{#if image.url}}
          <hr>
          <img src="{{image.url}}" class=" col-4 clip" alt="...">
          {{/if}}

          <hr>
          <div class="card-footer">
            <button class="btn btn-primary text-white"><a href="/projetos/{{id}}" >Mais Detalhes</a></button>
            {{#if (moderatorPermission)}}
            <button class="btn btn-success text-white"><a href="/admin/projetos/editar/{{id}}" >Editar</a></button>
            {{/if}}

            {{#if (adminPermission)}}

            <form id="delete-project-form_{{id}}" action="/admin/projetos/delete" method="POST" style="display: none;">
              <input type="hidden" name="id" value="{{id}}">
            </form>

            <button type="submit" class="btn btn-danger text-white"><a href="#" onclick="event.preventDefault(); return confirmationProjectDelete('{{title}}', '{{id}}');" >Excluir</a></button>

            {{/if}}

          </div>
        </div>
      </div>
    </div>

    {{else}}
    
    <div class="alert alert-danger center" role="alert"> 
      Desculpe. Nenhum projeto encontrado!
    </div>

    {{/each}}




    <nav aria-label="Page navigation example">
      <ul class="pagination">

        {{#each projects.meta.links}}

        {{#if (equals @index 0)}}

        <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }} active{{/if}}"><a class="page-link" href="{{url}}">{{replace label '&laquo;' '<<'}}</a></li>
        {{else}}

        {{#if (isInteger label)}}
        <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }}active{{/if}}"><a class="page-link" {{#if active }}{{/if}} href="{{url}}">{{label}}</a></li>
        {{else}}
        <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }}active{{/if}}"><a class="page-link" {{#if active }}{{/if}} href="{{url}}">{{replace label '&raquo;' '>>'}}</a></li>
        {{/if}}
        {{/if}}

        {{/each}}
      </ul>
    </nav>

  </div>
</div>

