<<<<<<< HEAD
   <link rel="stylesheet" type="text/css" href="/css/events.css">
 </head>
 <!-- Portfolio section -->
 <section style="background-image: url('img/mini-profile-bg-02.jpg');">
  <div class="container-fluid mt-4">
    <div class="tm-portfolio-name  text-white tm-bg-orange mx-auto" style="width:320px; ">
      <h1 class="card-title h1">Eventos</h1>
    </div> 
  </div>
</section>
            <!--
            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-green">
                Projetos
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-green">
                  Fábrica de Software
                  <span class="tm-title-small">2020</span>
                </h3>
                <p class="mb-0">
                  A Fábrica de software é um conjunto de recursos, processos e metodologias estruturados de forma semelhante àqueles das indústrias tradicionais, utilizando as melhores práticas criadas para o processo de desenvolvimento, testes e manutenções dos softwares.
                </p>
              </div>
            </div>
          -->
          <div class="tm-portfolio-item ">
            <div class="tm-portfolio-name">
             
            </div>
            <div class="tm-portfolio-description d-inline-block text-start position-absolute  top-50 start-100" style="width:50rem; left:100rem; ">
              <h3 class="tm-text-orange">
                Hackaton
                <span class="tm-title-small">2020</span>
              </h3>
              <p class="mb-0">
                Hackathon, termo eventualmente aportuguesado para "hackaton," é uma maratona de programação na qual hackers se reúnem por horas, dias ou até semanas, a fim de explorar dados abertos, desvendar códigos e sistemas lógicos, discutir novas ideias e desenvolver projetos de software ou mesmo de hardware.
              </p>
            </div>
          </div>
            <!--
            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-dark-gray">
                Curso superior
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-dark-gray">
                  Bacharelado em Sistemas de Informação
                  <span class="tm-title-small">
                    2020
                  </span>
                </h3>
                <p class="mb-0">
                  - O curso de bacharelado em Sistemas de Informação do IFNMG Campus Arinos tem por objetivo básico formar recursos humanos com sólido conhecimento em informática e que atuem profissionalmente na pesquisa, desenvolvimento e gestão de Sistemas de Informação propondo soluções tecnológicas alinhadas às necessidades das organizações, comprometidos com o seu papel social e profissional, no sentido de contribuir para o avanço tecnológico e científico calcado em valores humanísticos e éticos como preconizado pela Sociedade Brasileira de Computação e tendo como pressuposto que o comprometimento do homem com sua região é fator preponderante no desenvolvimento social, cultural e tecnológico.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    -->
=======
<div class="container">
  <section style="background-image: url('img/mini-profile-bg-02.jpg');">
    <div class="container-fluid mt-4">
      <div class="tm-portfolio-name  text-white tm-bg-green mx-auto" style="width:320px; ">
        <h1 class="card-title h1">Eventos</h1>
      </div> 
      <p class="lead">Eventos do CA-Printf</p>
      <!--<a class="btn btn-primary d-grid gap-2 col-2 mx-auto" href="/events" role="button">VoltarInicio</a>-->
    </div>
  </section>
  <br>
  {{#if user}}
  <div class="row">
    <div class="center">
      <a href="/admin/eventos/novo"><button class="btn btn-primary col-sm-4">Cadastrar novo evento</button></a>
    </div>
  </div>
  <hr>
  {{/if}}

  <div class="row">
    {{#each events.data}}


    <div class="col-sm-6 mb-4">
      <div class="card">
        <div class="card-body bg-light ">
          <div class="card-header">
            {{title}}

            {{#if (equals state "Ativo")}}
            <div class="alert alert-success" role="alert"> 
              {{state}}
            </div>
            {{/if}}
            {{#if (equals state "Inativo")}}
            <div class="alert alert-warning" role="alert"> 
              {{state}}
            </div>
            {{/if}}
            {{#if (equals state "Cancelado")}}
            <div class="alert alert-dander" role="alert"> 
              {{state}}
            </div>
            {{/if}}

          </div>
          <div class="card-body text-success">
            <h4 class="card-title">{{format_date initial_date 'DD/MM/YYYY'}} a {{format_date final_date 'DD/MM/YYYY'}}</h4>
            <p class="card-text">{{trimString description 150}}...</p>
          </div>
          <div class="card-footer"><button class="btn btn-primary text-white"><a href="/events" >Mais Detalhes</a></button></div>
        </div>
      </div>
    </div>

    {{/each}}


    

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        
        {{#each events.meta.links}}

        {{#if (equals @index 0)}}

        <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }} active{{/if}}"><a class="page-link" href="{{url}}">{{replace label '&laquo;' '<<'}}</a></li>
        {{else}}
        
        {{#if (isInteger label)}}
        <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }}active{{/if}}"><a class="page-link" {{#if active }}{{/if}} href="{{url}}">{{label}}</a></li>
        {{else}}
        <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }}active{{/if}}"><a class="page-link" {{#if active }}{{/if}} href="{{url}}">{{replace label '&raquo;' '>>'}}</a></li>
        {{/if}}
        {{/if}}

        {{/each}}
      </ul>
    </nav>

  </div>
</div>
>>>>>>> d5f9c528f76a8bce98ac9e1b7e2d3a93b1753cc2
