<div class="wrapper fadeInDown" id="form-modal">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img style="width: 100px;" src="/img/default-user.png" id="icon" alt="User Icon" />
		</div>

		<div class="message" id="message_register" hidden="hidden"></div>

		<!-- Login Form -->
		<form action="/auth/register" method="POST">

			<label class="form-text">
				Nome: <i class="required"></i>
				{{#each errors }}
				<span class="message-text error-text" id="name_error">
					{{#each this }} {{#if (equals @key 'name')}} {{this}} {{/if}} {{/each}}
				</span>
				{{/each}}
			</label> 
			<input type="text" id="name" class="fadeIn second form-control" name="name" value="{{name}}" placeholder="Nome Completo">

			<label class="form-text">
				Email: <i class="required"></i>
				{{#each errors }}
				<span class="message-text error-text" id="email_error">
					{{#each this }} {{#if (equals @key 'email')}} {{this}} {{/if}} {{/each}}
				</span>
				{{/each}}
			</label> 
			<input type="email" id="email" class="fadeIn second form-control" name="email" value="{{email}}" placeholder="E-mail">
			
			<label class="form-text">
				Senha: <i class="required"></i>
				{{#each errors }}
				<span class="message-text error-text" id="password_error">
					{{#each this }} {{#if (equals @key 'password')}} {{this}} {{/if}} {{/each}}
				</span>
				{{/each}}
			</label> 
			<input type="password" id="" class="fadeIn third form-control" name="password" placeholder="Senha">
			<label class="form-text">Confirmar Senha: <i class="required"></i></label> 
			<input type="password" id="password_confirmation" class="fadeIn third form-control" name="password_confirmation" placeholder="Confirmar Senha">
			<button type="submit" class="fadeIn fourth btn btn-primary">Cadastrar</button>
		</form>

		<!-- Remind Passowrd -->
		<div id="formFooter">
			<label class="form-text">Já possui cadastro? <a class="underlineHover" href="/login" >Entre Aqui</a></label>
		</div>

	</div>
</div>