<div class="container">
	<section  style="background-image:url('/img/mini-profile-bg-02.jpg');">
		<div class="jumbotron">
			<h1 class="h1 text-center">Cadastrar Novo Evento</h1>
			<hr class="my-4">
			<div class="container">
				<div class="row row-cols-4">
					<a class="btn btn-outline-primary col-6 mx-auto btn-lg" href="/eventos" target="_blank" role="button">Voltar para eventos</a>
				</div>	
			</div>
		</div>
	</section>
	{{#if success_msg}} 
	<div class="alert alert-success" role="alert"> 
		{{success_msg}}
	</div>
	{{/if}} 
	<form action="/admin/events/create" method="post">
		<main role="main" class="accordion" id="accordionExample">
			<div class="shadow-none p-3 mb-5 bg-white rounded card mx-auto col-md-12 mt-4"id="headingOne">
				<div class="col-12">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="title">
								Título
								{{#each errors }}
									<span class="message-text error-text" id="title_error">
										{{#each this }} {{#if (equals @key 'title')}} {{this}} {{/if}} {{/each}}
									</span>
								{{/each}}
							</label>
							<input type="text" class="form-control" id="title" name="title" required="">
						</div>
						<div class="col-md-6 mb-3">
							<label for="description">
							Descrição
							{{#each errors }}
								<span class="message-text error-text" id="description_error">
									{{#each this }} {{#if (equals @key 'description')}} {{this}} {{/if}} {{/each}}
								</span>
							{{/each}}
						</label>
							<input type="text" class="form-control" id="description" name="description" required="">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="initial_date">
								Data Inicio
								{{#each errors }}
									<span class="message-text error-text" id="initial_date_error">
										{{#each this }} {{#if (equals @key 'initial_date')}} {{this}} {{/if}} {{/each}}
									</span>
								{{/each}}
							</label>
							<input type="date" class="form-control" id="initial_date" name="initial_date" required="">
						</div>
						<div class="col-md-6 mb-3">
							<label for="final_date">
								Data Final
								{{#each errors }}
									<span class="message-text error-text" id="final_date_error">
										{{#each this }} {{#if (equals @key 'final_date')}} {{this}} {{/if}} {{/each}}
									</span>
								{{/each}}
							</label>
							<input type="date" class="form-control" id="final_date" name="final_date" required="">
						</div>
					</div>
					<label for="state">
						Status
						{{#each errors }}
									<span class="message-text error-text" id="state_error">
										{{#each this }} {{#if (equals @key 'state')}} {{this}} {{/if}} {{/each}}
									</span>
								{{/each}}
					</label>
					<select class="form-select" id="state" name="state" aria-label="Default select example" required="">
						<option value="" selected="" disabled="">Selecione o status do evento</option>
						<option value="Ativo">Ativo</option>
						<option value="Inativo">Inativo</option>
						<option value="Cancelado">Cancelado</option>
					</select>
					<hr class="mt-4">
					<div class="row">
						<div class="center">
							<button class="btn btn-primary col-6 btn-lg shadow-none">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</main>
	</form>

</div>