<section  style="background-image:url('/img/mini-profile-bg-01.jpg');">
	<div class="jumbotron">
		<h1 class="h1 text-center text-white">Formulario De Regulamento De Estagio</h1>
		<hr class="my-4">
		<div class="container">
			<div class="row row-cols-4">
				<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg " href="/" role="button">Voltar Menu Inicial</a>
				<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg" style="width:200px;" href="/projeto" role="button">Acessar Pagina De Projeto</a>
			</div>	
		</div>
	</div>
</section>
<form action="/admin/formregulamnetoestagio/create" method="post">
	<main role="main" class="accordion" id="accordionExample">
		<div class="shadow-none p-3 mb-5 bg-white rounded card mx-auto col-md-7 mt-4"id="headingOne">
			{{#if success_msg}} <div class="alert alert-success center" role="alert">
				{{success_msg}}
			</div>{{/if}}
			{{#if error_msg}}<div class="alert alert-danger center" role="alert">
				{{error_msg}}
			</div>{{/if}}
			<div class="col-12">
				<div class="row">
					<div class="col-md-6">
						<label class="col-12" for="title">
							NomeRegulamento
							{{#each errors }}
							<span class="message-text error-text" id="title_error">
								{{#each this }} {{#if (equals @key 'title')}} {{this}} {{/if}} {{/each}}
							</span>
							{{/each}}
						</label>
						<input type="text" class="form-control" id="title" name="title" value="{{title}}" required="">
					</div>
					<div class="col-md-6">
						<label class="col-12" for="descripton">
							Descrição
							{{#each errors}}
							<span class="message-text error-text" id="description_error">
								{{#each this }} {{#if (equals @key 'description')}} {{this}} {{/if}} {{/each}}
							</span>
							{{/each}}
						</label>
						<input type="text" class="form-control" id="descripton" name="descripton" value="{{descripton}}" required="">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">	
						<label class="col-12" for="turm">
							Turma Válida
							{{#each errors }}
							<span class="message-text error-text" id="turm_error">
								{{#each this }} {{#if (equals @key 'turn')}} {{this}} {{/if}} {{/each}}
							</span>
							{{/each}}
						</label>
						<select class="form-select" id="turm" name="turm" aria-label="Default select example" required="">
							{{#if turm}}
							<option value="{{turm}}">{{turm}}</option>
							{{else}}
							<option value="" selected="">Selecione o status do regulamento de estagio</option>
							{{/if}}
							<option value="1">Turma 2019</option>
							<option value="2">Turma 2020</option>
							<option value="3">Turma 2021</option>
							<option value="4">Turma 2022</option>
						</select>
					</div>
					<div class="col-md-6">
						<label class="col-12" for="state">
							Status
							{{#each errors }}
							<span class="message-text error-text" id="state_error">
								{{#each this }} {{#if (equals @key 'state')}} {{this}} {{/if}} {{/each}}
							</span>
							{{/each}}
						</label>
						<select class="form-select" id="state" name="state" aria-label="Default select example" required="">
							{{#if state}}
							<option value="{{state}}">{{state}}</option>
							{{else}}
							<option>Escolha qual turma esse regulamento de estagio é valido</option>
							{{/if}}
							<option value="1">Ativo</option>
							<option value="2">Inativo</option>
							<option value="3">Cancelado</option>
						</select>
					</div>
				</div>
				<label class="col-12" for="envio">
					EnviarRegulamento
					{{#each errors}}
					<span class="message-text error-text" id="envio_error">
						{{#each this }} {{#if (equals @key 'envio')}} {{this}} {{/if}} {{/each}}
					</span>
					{{/each}}
				</label>
				<div class="input-group">
					<input type="file" class="form-control" id="envio" name="envio" value="{{envio}}"required="">
				</div>
				<hr class="md-4">
				<div class="row">
					<div class="col-md-6 mb-1">
						<button class="btn btn-outline-primary col-12 btn-lg">Salvar</button>
					</div>
					<div class="col-md-6 mb-1">
						<button class="btn btn-outline-danger col-11 btn-lg">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</main>
</form>
