<section  style="background-image:url('/img/mini-profile-bg-01.jpg');">
	<div class="jumbotron">
		<h1 class="h1 text-center text-white">Formulario De Cadastro De Eventos</h1>
		<hr class="my-4">
		<div class="container">
			<div class="row row-cols-4">
				<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg " href="/" role="button">Voltar Menu Inicial</a>
				<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg" style="width:200px;" href="/projeto" role="button">Acessar Pagina De Projeto</a>
			</div>	
		</div>
	</div>
</section>
<form action="/admin/project/create" method="post">
	<main role="main" class="accordion" id="accordionExample">
		<div class="shadow-none p-3 mb-5 bg-white rounded card mx-auto col-md-7 mt-4"id="headingOne">
			{{#if success_msg}} <div class="alert alert-success center" role="alert">
				{{success_msg}}
			</div>{{/if}}
			{{#if error_msg}}<div class="alert alert-danger center" role="alert">
				{{error_msg}}
			</div>{{/if}}
			<div class="col-12">
				<div class="row">
					<div class="col-md-6">
						<label class="col-12" for="title">
							Titulo_Projeto
							{{#each errors }}
							<span class="message-text error-text" id="title_error">
								{{#each this }} {{#if (equals @key 'title')}} {{this}} {{/if}} {{/each}}
							</span>
							{{/each}}
						</label>
						<input type="text" class="form-control" id="title" name="title" value="{{title}}">
					</div>
					<div class="col-md-6">
						<label class="col-12" for="description">
							Descrição_Projeto
							{{#each errors}}
							<span class="message-text error-text" id="description_error">
								{{#each this }} {{#if (equals @key 'description')}} {{this}} {{/if}} {{/each}}
							</span>
							{{/each}}
						</label>
						<input type="text" class="form-control" id="description" name="description" value="{{description}}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label class="col-12" for="initial_date">
							Data_Inicio
							{{#each errors}}
							<span class="message-text error-text" id="initial_date_error">
								{{#each this }} {{#if (equals @key 'initial_date')}} {{this}} {{/if}} {{/each}}
							</span>
							{{/each}}
						</label>
						<input type="date" class="form-control" id="initial_date" name="initial_date" value="{{initial_date}}">
					</div>
					<div class="col-md-6">
						<label class="col-12" for="final_date">
							Data_Final
							{{#each errors}}
							<span class="message-text error-text" id="initial_date_error">
								{{#each this }} {{#if (equals @key 'initial_date')}} {{this}} {{/if}} {{/each}}
							</span>
							{{/each}}
						</label>
						<input type="date" class="form-control" id="final_date" name="final_date" value="{{final_date}}">
					</div>
				</div>
				<label class="col-12" for="state">
					Status_Projeto
					{{#each errors}}
					<span class="message-text error-text" id="state_error">
						{{#each this }} {{#if (equals @key 'state')}} {{this}} {{/if}} {{/each}}
					</span>
					{{/each}}
				</label>
				<select class="form-select" id="state" name="state" aria-label="Default select example">
					{{#if state}}
					<option value="{{state}}">{{state}}</option>
					{{else}}
					<option value="" selected="">Selecione o status do evento</option>
					{{/if}}
					<option value="1">Ativo</option>
					<option value="2">Inativo</option>
					<option value="3">Cancelado</option>
				</select>
				<hr class="mt-4">
				<div class="row">
					<div class="col-md-6 mb-1">
						<button class="btn btn-outline-primary col-12 btn-lg shadow-none">Salvar</button>
					</div>
					<div class="col-md-6 mb-1">
						<button class="btn btn-outline-danger btn-lg col-11 shadow-none">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</main>
</form>