<div class="container">
  <section style="background-image: url('/img/mini-profile-bg-02.jpg');">
    <div class="container-fluid mt-4">
      <div class="tm-portfolio-name  text-white tm-bg-green mx-auto">
        <h1 class="card-title h1 text-center">Documentação</h1>
      </div> 
      <p class="lead text-center">Aqui você encontra documentação relacionado ao curso de Bacharelado em Sistemas de Informação do IFNMG - Campus Arinos</p>
      
    </div>
  </section>
  <br>

  {{#if error}}
  <div class="alert alert-danger center">
    {{error}}
  </div>
  {{/if}}
  {{#if success_msg}} <div class="alert alert-success center" role="alert">
    {{success_msg}}
  </div>{{/if}}

  <div class="row">
    {{#if success_search}} 
    <div class="alert alert-success center" role="alert"> 
      {{success_search}}
    </div>
    {{/if}}
    {{#each documents.data}}
    <div class="row">
      <h3> <i class="fas fa-file-pdf" style="font-size: 24px;"></i> <a class="default-link" href="{{file.url}}" target="_blank">{{title}}</a></h3> 
      <div>{{#if description}} {{trimString description 60}}... {{/if}}</div>
      <div>
        <form id="download-form_{{id}}" action="{{file.url_download}}" method="POST" style="display: none;" target="_blank">
          <input type="hidden" name="file" value="{{file.key}}">
        </form>
        

        <a class="aw-sair" href="#" onclick="event.preventDefault(); document.getElementById('download-form_{{id}}').submit();">Baixar <i class="fas fa-download"></i></a>

        {{#if (moderatorPermission)}}
        <button class="btn btn-success text-white"><a href="/admin/documentos/editar/{{id}}" >Editar</a></button>
        {{/if}}


      </div>
      <hr>
    </div>

    {{else}}
    
    {{#if error_search}}
    <div class="alert alert-danger center" role="alert"> 
     {{error_search}} 
   </div>
   {{else}} 

   <div class="alert alert-danger center" role="alert"> 
    Desculpe. Nenhum documento encontrado!
  </div>
  {{/if}}
  {{/each}}


</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">

    {{#each documents.meta.links}}

    {{#if (equals @index 0)}}

    <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }} active{{/if}}"><a class="page-link" href="{{url}}">{{replace label '&laquo;' '<<'}}</a></li>
    {{else}}

    {{#if (isInteger label)}}
    <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }}active{{/if}}"><a class="page-link" {{#if active }}{{/if}} href="{{url}}">{{label}}</a></li>
    {{else}}
    <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }}active{{/if}}"><a class="page-link" {{#if active }}{{/if}} href="{{url}}">{{replace label '&raquo;' '>>'}}</a></li>
    {{/if}}
    {{/if}}

    {{/each}}
  </ul>
</nav>

</div>

