<div class="container">
  <section style="background-image: url('/img/mini-profile-bg-02.jpg');">
    <div class="container-fluid mt-4">
      <div class="tm-portfolio-name  text-white tm-bg-green mx-auto">
        <h1 class="card-title h1 text-center">Documentação</h1>
      </div> 
      <p class="lead text-center">Aqui você encontra documentação relacionado ao curso de Bacharelado em Sistemas de Informação do IFNMG - Campus Arinos</p>
      
    </div>
  </section>
  <br>

  

  <div class="row">
    {{#if success_search}} 
    <div class="alert alert-success center" role="alert"> 
      {{success_search}}
    </div>
    {{/if}}
    {{#each documents.data}}
    <div class="row">
      <h3> <i class="fas fa-file-pdf" style="font-size: 24px;"></i> <a class="default-link" href="{{file.url}}" target="_blank">{{title}}</a></h3> 
      <div>{{#if description}} {{trimString description 60}}... {{/if}}</div>
      <div><a href="#">Baixar</a></div>
      <hr>
    </div>

    {{else}}
    
    {{#if error_search}}
    <div class="alert alert-danger center" role="alert"> 
     {{error_search}} 
   </div>
   {{else}} 

   <div class="alert alert-danger center" role="alert"> 
    Desculpe. Nenhum documento encontrado!
  </div>
  {{/if}}
  {{/each}}


</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">

    {{#each documents.meta.links}}

    {{#if (equals @index 0)}}

    <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }} active{{/if}}"><a class="page-link" href="{{url}}">{{replace label '&laquo;' '<<'}}</a></li>
    {{else}}

    {{#if (isInteger label)}}
    <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }}active{{/if}}"><a class="page-link" {{#if active }}{{/if}} href="{{url}}">{{label}}</a></li>
    {{else}}
    <li class="page-item {{#if (equals url 'null')}} disabled{{/if}} {{#if active }}active{{/if}}"><a class="page-link" {{#if active }}{{/if}} href="{{url}}">{{replace label '&raquo;' '>>'}}</a></li>
    {{/if}}
    {{/if}}

    {{/each}}
  </ul>
</nav>

</div>

